body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn{
  background-color: #ef651f;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.save-button{
  background-color: #784BA0;
  border: 0;
  margin-left: auto;
  font:15px;
  font-weight: 750;
  color:#000000;
  margin-right: 3rem;
}
.my-control:focus, .focus-visible {
  box-shadow: 0 0 5px #E8E531 !important;
}